
.navbar {
  background-color: rgb(212, 224, 220);
  height: 100px;

}

.nav-link {
  margin-left: 100px;
  font-size: 25px;
  font-weight: 600;
}
.title {
  font-size: 25px;
  margin-bottom: 30px;
}
.message {

}

.border {
  margin-top: 80px;
  width: 800px;
margin-left: 700px;
  justify-content: center;
  padding: 20px 60px;
  box-shadow: 2px 2px 6px #00000086;
}

.form {
  box-shadow: 2px 2px 6px #00000086;
  padding: 60px 80px;
  margin-top: 80px;
  width: 800px;
  margin-left: 700px;
}

.button {
  width: 30%;
  padding: .8rem;
  border: 0;
  border-radius: .5rem;
  background-color: #64645f;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: backgrund 100ms;
  margin-top: 10px;
  font-size: 18px;
}
.title-input {
  font-size: 28px;
}
.textarea-input {
  font-size: 28px;
}